<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <h1>SignUp Form</h1>

    <form action="/user/register" method="post">
        <label>Enter Your Full Name</label>
        <input type="text" name="name" placeholder="name">
        <label>Enter Your email</label>
        <input type="text" name="email" placeholder="email">
        <label>Enter Your password</label>
        <input type="text" name="password" placeholder="password">
        <button type="submit">Sign up</button>
    </form>
</body>

</html>